@import '../components/colors.scss';

.container {
  background-color: $terminal;
  color: white;
  width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 0px 32px;
  margin-top: 32px;
}

.info {
  padding-right: 8px;

  h1 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 8px;
  }

  span {
    // margin-top: 16px;
    color: $greyer;
    line-height: 1.2em;
  }
}

.close {
  font-size: 1.4em;
  color: $greyer;
}

.close:hover {
  color: white;
}

.links {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0px 32px;
  display: flex;

  span {
    cursor: pointer;
    color: $terminal;
    background-color: $dark-orange;
    // box-sizing: border-box;
    padding: 6px 8px;
    border: 2px solid $dark-orange;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    transition: all 0.3s
  }

  span:hover {
    background-color: $terminal;
    color: $dark-orange;
  }
}

.links > * ~ * {
  margin-left: 8px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}