@import './colors.scss';

.aboutHero {
  background-color: $light-grey;
  display: flex;
  justify-content: center;
}

.contentWrap {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 13px;
  box-sizing: border-box;
}

.portrait {
  min-width: 256px;
  margin-top: 50px;
  margin-right: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid $grey;
}

.intro {
  line-height: 1.8em;
  color: $terminal;

  h1 {
    font-size: 2em;
    font-weight: 700;
    // font-family: 'Ubuntu Mono', monospace;
  }

  p {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .contentWrap {
    flex-wrap: wrap;
  }

  .intro {
    padding: 32px;
  }

  .portrait {
    width: 100%;
    margin: 32px;
  }
}