@import './colors.scss';

.info {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.cardTitle {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 8px;
}

.cardDesc {
  margin-bottom: 8px;
  line-height: 1.4em;
  color: $dark-grey;
}

.tags {
  margin: 16px 0px -4px -4px;
  font-size: 1em;

  span {
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 6px 8px;
    
    margin: 2px 3px;
    border-radius: 4px;
  }

  .code {
    background-color: $dark-green;
  }

  .science {
    background-color: $dark-blue;
  }

  .design {
    background-color: $dark-orange;
  }

  .code:hover {
    background-color: $green;
  }

  .science:hover {
    background-color: $blue;
  }

  .design:hover {
    background-color: $orange;
  }

  .hide {
    display: none;
  }
}