@import './colors.scss';

.info {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.descInfo {
  padding: 0 32px;
}

.cardTitle {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 8px;
}

.cardDesc {
  margin-bottom: 8px;
  line-height: 1.4em;
  color: $dark-grey;
}

.tagsInfo {
  margin-top: 8px;
  transition: all 0.4s;
  padding: 16px 32px 28px 28px;
  background: linear-gradient(to bottom, transparent 50%, $light-grey 50%);
  background-size: 100% 200%;
  background-position: left top;

  .tagsTip {
    font-size: 0.8em;
    margin-bottom: 6px;
    margin-left: 4px;
    color: transparent;
    transition: all 0.4s;
  }
}

.tagsInfo:hover {
  background-position: left bottom;

  .tagsTip {
    color: $greyer;
  }
}

.tags {
  font-size: 0.8em;
  
  span {
    // background-color: #F1F1F1;
    cursor: pointer;
    // font-family: 'Ubuntu Mono', monospace;
    color: white;
    display: inline-block;
    padding: 4px 6px;
    
    margin: 2px 3px;
    border-radius: 4px;
    transition: all 0.3s;
    border: 2px solid transparent;
    box-sizing: border-box;
  }

  span:hover {
    background-color: #F1F1F1;
  }

  .code {
    background-color: $dark-green;
  }

  .science {
    background-color: $dark-blue;
  }

  .design {
    background-color: $dark-orange;
  }

  .code:hover {
    color: $dark-green;
    background-color: white;
    border-color: $dark-green;
  }

  .science:hover {
    color: $dark-blue;
    background-color: white;
    border-color: $dark-blue;
  }

  .design:hover {
    color: $dark-orange;
    background-color: white;
    border-color: $dark-orange;
  }

  .hide {
    display: none;
  }
}

.imageContainer {
  overflow: hidden;
}

.image {
  transition: all 0.5s ease-in-out;
}

.image:hover {
  transform: scale(1.06);
  transform-origin: 50% 50%;
}