$light-grey: #f8f8f8;
$grey: #DDD;
$greyer: #999;
$dark-grey: #666;
$darker-grey: #444;
$terminal: #222222;

$green: #7BB94E;
$blue: #1DA1F2;
$orange: #F4B800;

$dark-green: #72AF46;
$dark-blue: #189EF2;
$dark-orange: #ffab0e;
