@import './colors.scss';

.footer {
  display: flex;
  justify-content: center;
  background-color: $terminal;
}

.contentWrap {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  box-sizing: border-box;
  color: white;
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }
}