@import './colors.scss';

.footer {
  display: flex;
  justify-content: center;
  background-color: $terminal;
}

.contentWrap {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 64px 0;
  box-sizing: border-box;
  color: $grey;
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }
}

.social {
  font-size: 1.6em;
  margin-top: 32px;
  display: inline-block;
  color: $grey;

  .email:hover {
    color: #b52c25;
  }

  .linkedin:hover {
    color: #0077B5;
  }

  .instagram:hover {
    color: #BA3385;
  }

  .github:hover {
    color: white;
  }

  .angellist:hover {
    color: #ffd75e;
  }
}

.social:hover {
  color: $dark-grey;
}

.social > * {
  cursor: pointer;
  transition: all 0.4s;
}

.social > * ~ * {
  margin-left: 12px;
}

.contact {

  h1 {
    margin-top: 16px;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
  }

  .resume {
    color: $orange;
  }
}