@import './colors.scss';

.header {
  display: flex;
  justify-content: center;
  background-color: $terminal;
}

.logo {
  margin-bottom: 0;
  // box-shadow: 0px 0px 0px 3px $orange;
}

.contentWrap {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 13px;
  box-sizing: border-box;
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }
}

.rightNav {
  display: flex;
  align-items: center;
  color: $grey;

  span {
    line-height: 1em;
    border-bottom: 2px solid transparent;
    padding: 3px 0;
    cursor: pointer;
    transition: all 0.3s;
  }

  span:hover {
    border-color: $grey;
  }

  .resume {
    cursor: pointer;
    color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
  }

  .resume:hover span {
    border-color: $dark-orange;
  }

  svg {
    font-size: 1.4em;
    margin-right: 8px;
  }

}

.rightNav > * ~ * {
  margin-left: 32px;
}