.header {
  display: flex;
  justify-content: center;
  padding: 13px 0;
}

.logo {
  margin-bottom: 0;
}

.contentWrap {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}