@import './colors.scss';

.hero {
  background-color: $light-grey;
  height: 400px;
  display: flex;
  justify-content: center;
}

.contentWrap {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13px;
  box-sizing: border-box;

  .heroText {
    line-height: 2em;

    .name {
      font-family: 'Ubuntu Mono', monospace;
      transition: all 0.4s;
    }
    
    .name:hover {
      color: white;
      text-decoration: underline;
    }
  }
  
  h1 {
    font-size: 1.6em;
    padding: 2px 0;
    background-color: $terminal;
    color: $grey;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
    display: inline;
  }

  .heroText:nth-child(2) {
    margin-left: 1.6em;
  }

  a {
    align-self: flex-end;
  }
}

.code {
  font-family: inherit;
  color: $green;
  display: inline-block;
}

.science {
  font-family: inherit;
  color: $blue;
  display: inline-block;
}

.design {
  font-family: inherit;
  color: $orange;
  display: inline-block;
}

.about {
  // background-color: $dark-orange;
  margin-top: 32px;
  padding: 2px;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: $terminal;
  cursor: pointer;

  span {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.4rem;
    margin-right: 8px;
    padding-bottom: 2px;
  }
}

.about:hover {
  text-decoration: underline;
}