.projects {
  display: flex;
  justify-content: center;
}

.contentWrap {
  width: 960px;
  padding: 13px 13px;
  box-sizing: border-box;
  background-color: yellow;
}

.test {
  width: 100%;
  background-color: red;
}