@import './colors.scss';

.projects {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  padding-bottom: 64px;
  background-color: white;
}

.contentWrap {
  width: 960px;
  padding: 13px 13px;
  box-sizing: border-box;
}

.listContainer {
  transition: height 0.5s;
}

.list > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}


.card {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  display: flex;
  flex-direction: column;
}

.tagInput {
  max-width: 700px;
  display: none;
  align-items: center;

  svg {
    color: #888888;
  }
}

@media (min-width: 768px) {
  .tagInput {
    display: flex;
  }

  .card {
    width: calc(50% - 1em);
  }
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }

  .card {
    width: calc(33.3% - 1.33em);
  }
}

.topBar {
  padding: 32px 0;

  .heading {
    font-size: 2em;
    // font-family: 'Ubuntu Mono', monospace;
    color: $terminal;
    // color: white;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
    // margin-bottom: 8px;
    // padding: 0 8px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    .quickMenu {
      display: flex;

      span {
        cursor: pointer;
        margin-right: 16px;
        color: grey;
        font-size: 1.2em;
        padding: 2px 0;
        border-bottom: 3px solid transparent;
      }

      span:hover {
        border-bottom: 3px solid $grey;
      }

      span:active {
        color: $terminal;
        border-bottom: 3px solid $terminal;
      }
    }
  }
}

