@import './colors.scss';

.projects {
  display: flex;
  justify-content: center;
}

.contentWrap {
  width: 960px;
  padding: 13px 13px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $grey 0 2px 2px;
  margin-right: 0em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 1em);
  }

  .card:not(:nth-child(2n)) {
    margin-right: 2em;
  }
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }

  .card {
    width: calc(33.3% - 1.33em);
  }

  .card:not(:nth-child(2n)) {
    margin-right: 0em;
  }

  .card:not(:nth-child(3n)) {
    margin-right: 2em;
  }
}
