@import './colors.scss';

.skills {
  display: flex;
  justify-content: center;
  background-color: white;
}

.contentWrap {
  width: 960px;
  padding: 64px 13px;
  box-sizing: border-box;
}

@media (min-width: 1200px) { 
  .contentWrap {
    width: 1200px;
  }
}

.heading {
  
  h1 {
    font-size: 2em;
    color: $terminal;
    line-height: 1.4em;
    font-weight: 700;
  }

  h2 {
    color: grey;
    font-size: 1.2em;
    margin-top: 8px;
  }
}

.icons {
  padding: 32px 0px;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 2em;
  // margin-right: 2em;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px); 
  grid-gap: 1rem;
  justify-content: space-evenly;
}


// .icons::after {
//   content: "";
//   flex: auto;
// }